// ====== start news blog
div(class=`news-blog ${news.trend? news.trend:''}`)
	figure
		img(class="d-block",
			src=`${news.img}`,
			alt=`${news.title}`,
			title=`${news.title}`)
		figcaption
			h4= `${news.title}`
			time(class="time" datetime="2020-07-08")= `${news.time}`
// ====== end news blog
