// ===== start clients=========
section(class="clients pt-5 pb-5")
	.container
		div(class='row m-0')
			div(class='col-12 col-lg-8')
				include clients-filter
			div(class='col-12 col-lg-4')
				div(class="button-grid text-center text-lg-right")
					button(type='button',
							aria-label='row',
							class="btn btn-grid active",
							data-target='.clients-item',
							data-toggle='view-row')
						<i class="fa fa-th" aria-hidden="true"></i>
					button(type='button',
							aria-label='col',
							class="btn btn-grid",
							data-target='.clients-item',
							data-toggle='view-row')
						<i class="fa fa-bars" aria-hidden="true"></i>
		// start clients grid 
		div(class="clients-item mt-5")
			div(class="row m-0")
				-for(let i=0; i<=7; i++)
					-let client = clients[i]
						div(class="p-0 col-12 col-md-6 col-lg-4 col-xl-3")
							include client
		// end clients grid 
// ===== end clients=========