// start trending
div(class="trending")
	a(href="#!")
		figure(class="trend m-0")
			img(src=`${trending.img}`, 
				alt=`${trending.title}`, 
				title=`${trending.title}`)/
			figcaption
				div(class="trending-title")
					<i class="fa fa-play" aria-hidden="true"></i>
					h3(class="mt-4 mb-4")= `${trending.title}`
					time(class="time")= `${trending.time}`
// end trending