// start client
div(class="client", data-filter=`${client.job}`)
	figure
		img(src=`${client.img}`, alt=`${client.name}`, title=`${client.job}`)/
		figcaption
			a(href=`${client.id}`,
				class="client-link",
				aria-label="client-profile")
				<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			div(class="client-title")
				h4= `${client.name}`
				span= `${client.job}`
// end client
